<div class="container-fluid">

    <div class="row" style="height:11vh;background:#0e76a8;border:1px solid black">
        <div class="col-8 d-flex text-light  align-items-center" style="font-size: 46px;font-weight: bold;"><strong><i>Book_Hub</i></strong>
        </div>
        <!-- <img style=" height:60px;width:140px" alt=""> -->
        <div class="col-1 mt-4 align-items-center" style="font-size: 18px ;">
            <a class="btn btn-outline-light p-2" routerLink="">
                About
            </a>
        </div>
        <div class="col-1 mt-4 align-items-center" style="font-size: 18px ;">
            <a class="btn btn-outline-light p-2" routerLink="">
                Contact
            </a>
        </div>
        <div class="col-1 mt-3 align-items-center" style="font-size: 18px;padding:8px ;">
            <a class="btn btn-outline-light p-2" routerLink="/userRegister">
                Customer
            </a>
        </div>
        <div class="col-1 mt-3 align-items-center" style="font-size: 18px;padding:8px ;">
            <a class="btn btn-outline-light p-2" routerLink="/adminRegister">
                Admin
            </a>
        </div>
    </div>

    <div class="row bg-dark mt-1 " style="height: 88vh;">


        <!-- <div class="col" style="background:url(assets/images/bookHome.jpg)center
        no-repeat;background-size:cover;height:88vh;width:102%">

        </div> -->
        <app-carousel></app-carousel>

    </div>